body{
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
}

.titulodeljuego{
  font-size: 30px;
}

.botondeljuego{
  cursor: pointer;
  background-color: transparent;
  border: 3px solid white;              /* Border: Ancho  Estilo  Color*/
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-right:10px;
  
}

.icono{
  height: 50px;
}

.css-comosalio{
  font-size: 20px;
  font-weight: bold;
  margin-top: 50px;
}

.css-puntucion{
  margin-top: 60px;
}

.botonreseteo{
  background-color: white;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
  border: none;
}
